---
layout: page
# The Home page layout
---

<div class="d-flex justify-content-center">
<h1 class="dynamic-title">
  {{site.title}}
</h1>
</div>

<hr>

<div class="row justify-content-center">
  <div class="col-4 col-lg-3 col-xl-3">
    <!-- <div id="avatar" class="d-flex align-content-center"> -->
      <img style="width:100%; border-radius: 50%" src="{{site.baseurl}}/assets/img/profile.jpg">
    <!-- </div> -->
  </div> <!-- #page -->
  <div class="col-10 col-lg-7 col-xl-7">
    <p align="justify">
      Doctoral researcher exploring behavioral user modeling with machine learning <b>(ML)</b> and adaptive virtual reality <b>(VR)</b> enviroments
      in the <i><a target="_blank" href="https://datascience.dsv.su.se/">Data Science Group</a>, <a target="_blank" href="https://www.su.se/profiles/luva3178">Stockholm University</a>.</i>
      <br><br>
      Interested in applications combining ML and VR for healthcare, professional training, and education.
      
      Most of my work refers to real-time analysis of physiological signals, motion trajectories,
      and gameplay interactions to classify subjective user characteristics like skill level,
      emotional states, or mental workload. <br>
    </p>
  </div> <!-- #page -->

  🌎 From Manizales, Colombia <br> 📌 Currently in Stockholm, Sweden

</div><!-- .col-12 -->


<br>

<h3 class="dynamic-title d-flex justify-content-center">
  Contact me...
</h3>

<div class="d-flex justify-content-center">
  <ul class="list-inline mb-12">
    <li class="list-inline-item">
      {% assign email = site.social.email | split: '@' %}
      <div class="fa fa-envelope">
        <a href="javascript:window.open('mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@'))"> Email </a>
      </div>
    </li>
    <li class="list-inline-item"> <div class="fab fa-linkedin-in">
      <a href="https://linkedin.com/in/{{ site.linkedin.username }}"> LinkedIn </a>
      </div> </li>
    <li class="list-inline-item"> <div class="fab fa-twitter">
      <a href="https://twitter.com/{{ site.twitter.username }}"> Twitter </a>
      </div> </li>
  </ul>
</div>

<h3 class="dynamic-title d-flex justify-content-center">
  Other profiles...
</h3>

<div class="d-flex justify-content-center">
  <ul class="list-inline mb-12">
    <li class="list-inline-item"> <div class="fab fa-github">
      <a href="https://github.com/{{ site.github.username }}"> GitHub </a>
    </div> </li>
    <li class="list-inline-item"> <div class="fab fa-google">
    <a href="https://scholar.google.com/citations?user=RYg_PGQAAAAJ"> Scholar </a>
    </div> </li>
    <li class="list-inline-item"> <div class="fab fa-researchgate">
    <a href="https://www.researchgate.net/profile/Luis-Quintero-4"> ResearchGate </a>
    </div> </li>
    <li class="list-inline-item"> <div class="fab fa-orcid">
    <a href="https://orcid.org/0000-0002-6047-2793"> ORCiD </a>
    </div> </li>
</ul>
</div>

<!-- <div class="d-flex justify-content-center">
  <ul class="list-inline mb-12">
    <li class="list-inline-item">
      {% assign email = site.social.email | split: '@' %}
      <a href="javascript:window.open('mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@'))">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/{{ site.github.username }}">
        
        <div class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <div class="fab fa-github"></div>  
        </div>
      </a>
    </li>
  </ul>
</div> -->

<!-- 
<h2 class="dynamic-title">
  CV:
</h2>
<a href="{{site.baseurl}}/tab/cv/">See full CV 🧾</a>

<div class="row justify-content-center">
  <div class="col-2 text-center">
    (Currently)
  </div>
  <div class="col-8">
    
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-2 text-center">
    (2019)
  </div>
  <div class="col-8">
    MSc. Health Informatics, Karolinska Institutet, Sweden.
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-2 text-center">
    (2015)
  </div>
  <div class="col-8">
    BSc. Electronics Engineering, UNAL, Colombia.
  </div>
</div> -->


<hr>
<br>

<h1 class="d-flex justify-content-center">
  Personal Notes / Blog
</h1>

<div id="post-list">
  {% for post in paginator.posts %}
  <div class="post-preview">
    <h1>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    <div class="post-content">
      <p>
      {% assign _content = post.content %}
      {% include no-linenos.html %}
      {{ _content | markdownify | strip_html | truncate: 200 }}
      </p>
    </div>

    <div class="post-meta text-muted">
      <!-- posted date -->
      <i class="far fa-clock fa-fw"></i>
      <span class="timeago" data-toggle="tooltip" data-placement="bottom"
        title="{{ post.date | date: site.data.date_format.tooltip }}">
      {{ post.date | date: site.data.date_format.post }}
      <i class="unloaded">{{ post.date | date_to_xmlschema }}</i>
      </span>
      <!-- page views -->
      {% if site.google_analytics.pv.enabled %}
      <i class="far fa-eye fa-fw"></i>
      <span id="pv_{{-post.title-}}" class="pageviews">
        <i class="fas fa-spinner fa-spin fa-fw"></i>
      </span>
      {% endif %}
    </div>
  </div> <!-- .post-review -->
  {% endfor %}
</div> <!-- #post-list -->

{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %}
