---
layout: page
# The Home page layout
---

<div class="d-flex justify-content-center">
<h1 class="dynamic-title">
  {{site.title}}
</h1>
</div>

<hr>

<div class="row justify-content-center">
  <div class="col-4 col-lg-3 col-xl-3">
    <!-- <div id="avatar" class="d-flex align-content-center"> -->
      <img style="width:100%; border-radius: 50%" src="{{site.baseurl}}{{site.avatar}}">
    <!-- </div> -->
  </div> <!-- #page -->
  <div class="col-10 col-lg-7 col-xl-7">
    <p align="justify">
      Engineer and researcher (PhD) in the <a target="_blank" href="https://datascience.dsv.su.se/">Data Science Group</a>. Designing projects that intersect immersive virtual worlds (VR, AR, XR, and spatial computing) with smart wearables, AI solutions, and data science algorithms. 
      <br><br>
      Cofounder and CTO of <a target="_blank" href="https://portalsense.com/">PortalSense</a>, a tech startup onboarding real estate businesses in the next digital transformation with immersive technologies.
      <br><br>
    </p>
  </div> <!-- #page -->

  🌎 Stockholm (Sweden) 📌 Manizales (Colombia)

</div><!-- .col-12 -->

<br>

<h3 class="dynamic-title d-flex justify-content-center">
  Contact:
</h3>

<div class="d-flex justify-content-center">
  <ul class="list-inline mb-12">
    <li class="list-inline-item">
      {% assign email = site.social.email | split: '@' %}
        <a href="javascript:window.open('mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@'))"><i class="fa fa-envelope"></i> Email </a>
    </li>
    <li class="list-inline-item"> 
      <a href="https://linkedin.com/in/{{ site.linkedin.username }}"> <i class="fab fa-linkedin-in"></i> LinkedIn </a>
      </li>
    <li class="list-inline-item"> 
      <a href="https://twitter.com/{{ site.twitter.username }}"> <i class="fab fa-x-twitter"></i> Twitter-X </a>
      </li>
  </ul>
</div>

<h3 class="dynamic-title d-flex justify-content-center">
  Other profiles:
</h3>

<div class="d-flex justify-content-center">
  <ul class="list-inline mb-12">
    <li class="list-inline-item"> 
      <a href="https://github.com/{{ site.github.username }}"> <i class="fab fa-github"></i> GitHub </a>
    </li>
    <li class="list-inline-item"> 
    <a href="https://scholar.google.com/citations?user=RYg_PGQAAAAJ"> <i class="fab fa-google"></i> Scholar </a>
    </li>
    <li class="list-inline-item">
    <a href="https://www.researchgate.net/profile/Luis-Quintero-4"> <i class="fab fa-researchgate"></i> ResearchGate </a>
    </li>
</ul>
</div>

<div class="d-flex justify-content-center">
  <ul class="list-inline mb-12">
    <li class="list-inline-item"> 
    <a href="https://orcid.org/0000-0002-6047-2793"> <i class="fab fa-orcid"></i> ORCiD </a>
    </li>
    <li class="list-inline-item">
      <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0001553941"> <i class="fa fa-link"></i> CvLAC </a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.su.se/english/profiles/luva3178"> <i class="fa fa-link"></i> SU </a>
    </li>
</ul>
</div>


<hr>
<br>

<h1 class="d-flex justify-content-center">
  Personal Notes / Blog
</h1>

<div id="post-list">
  {% for post in paginator.posts %}
  <div class="post-preview">
    <h1>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    <div class="post-content">
      <p>
      {% assign _content = post.content %}
      {% include no-linenos.html %}
      {{ _content | markdownify | strip_html | truncate: 200 }}
      </p>
    </div>

    <div class="post-meta text-muted">
      <!-- posted date -->
      <i class="far fa-clock fa-fw"></i>
      <span class="timeago" data-toggle="tooltip" data-placement="bottom"
        title="{{ post.date | date: site.data.date_format.tooltip }}">
      {{ post.date | date: site.data.date_format.post }}
      <i class="unloaded">{{ post.date | date_to_xmlschema }}</i>
      </span>
      <!-- page views -->
      {% if site.google_analytics.pv.enabled %}
      <i class="far fa-eye fa-fw"></i>
      <span id="pv_{{-post.title-}}" class="pageviews">
        <i class="fas fa-spinner fa-spin fa-fw"></i>
      </span>
      {% endif %}
    </div>
  </div> <!-- .post-review -->
  {% endfor %}
</div> <!-- #post-list -->

{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %}
