---
layout: page
# The Home page layout
---

<h1 class="dynamic-title">
  Personal Website
</h1>

<p>
  <i> PhD Scholar @
    <a target="_blank"
      href="https://dsv.su.se/en/research/research-areas/datascience/description">
      Data Science Group
    </a>
    , Stockholm University.
  </i>
  <br>
  <i>Electronics Engineer, Health Informatician.</i>
  <br>
  <i>Developer for Extended Reality Technologies (Virtual Reality, Augmented Reality)</i>
</p>

<p>
  Interested in the design and development interactive technologies combining virtual reality,
  data science, and human-computer interaction for applications in industry and healthcare.
</p>

<p> 📌 Stockholm, Sweden | 🌎 Manizales, Colombia</p>

<ul class="list-inline list-social-icons mb-12">
  <li class="list-inline-item">
    <a href="https://github.com/luiseduve">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://www.linkedin.com/in/levelezq">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://www.researchgate.net/profile/Luis_Quintero17">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fab fa-researchgate fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://scholar.google.com/citations?view_op=list_works&hl=en&authuser=1&user=RYg_PGQAAAAJ">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fab fa-google fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://orcid.org/0000-0002-6047-2793">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fab fa-orcid fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
</ul>
</div>

<hr>

<h1 class="dynamic-title">
  📘 Blog Posts
</h1>


<div id="post-list">
  {% for post in paginator.posts %}
  <div class="post-preview">
    <h1>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    <div class="post-content">
      <p>
      {% assign _content = post.content %}
      {% include no-linenos.html %}
      {{ _content | markdownify | strip_html | truncate: 200 }}
      </p>
    </div>

    <div class="post-meta text-muted">
      <!-- posted date -->
      <i class="far fa-clock fa-fw"></i>
      <span class="timeago" data-toggle="tooltip" data-placement="bottom"
        title="{{ post.date | date: site.data.date_format.tooltip }}">
      {{ post.date | date: site.data.date_format.post }}
      <i class="unloaded">{{ post.date | date_to_xmlschema }}</i>
      </span>
      <!-- page views -->
      {% if site.google_analytics.pv.enabled %}
      <i class="far fa-eye fa-fw"></i>
      <span id="pv_{{-post.title-}}" class="pageviews">
        <i class="fas fa-spinner fa-spin fa-fw"></i>
      </span>
      {% endif %}
    </div>
  </div> <!-- .post-review -->
  {% endfor %}
</div> <!-- #post-list -->

{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %}
